@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* input style ให้เหมือน Topic Issue */
.form-control {
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    /* ขอบมนเท่ากัน */
    border: 1px solid #E3E8EF;
    /* เทาอ่อน ใกล้ profile */
    font-size: 14px;
    outline: none;
    background-color: #fff;
    transition: all 0.2s ease;
}

.form-control:focus {
    border-color: #35A8E0;
    /* primary color */
    box-shadow: 0 0 0 2px rgba(53, 168, 224, 0.15);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #F5F7FA;
    color: #6B7280;
    cursor: not-allowed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}